/*--------------------------
 *  Page Wrapper
 *--------------------------
 */
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.height-100 {
  height: 100vh;
}

.height-60 {
  height: 60vh;
}

.height-50 {
  height: 50vh;
}

.height-30 {
  height: 30vh;
}

.height-40 {
  height: 40vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.upper{
  background: #222222;
}

.lower {
  background: #ffffff;
}

/*--------------------------
 *  Header
 *--------------------------
 */

#logo {
  font-family: brandon-grotesque;
  font-weight: 300;
  font-style: normal;
  background: rgba(255,255,255,.05);
  color: #719e40;
  font-size: 32px;
  line-height: 64px;
  margin: 0 0 0 -15px;
  text-align: center;
  text-decoration: none;
  width: 114px;
}
.navbar {
  width: 100%;
  padding: 25px 15px 0;
  position: absolute;
  top: 0;
  height: 60px;
  border: 0;
  display: flex;
}

.top-left {
  position: relative;
  width: 80%;
}

.top-right {
  position: relative;
}

.top-left > a, .top-right > a {
  color: #ffffff !important;
}

.text-logo {
  font-size: 16px;
}

/*--------------------------
 *  Main Content
 *--------------------------
 */

.content {
  text-align: center;
}

.main-content {
  padding-top: 150px;
  text-align: center;
}

.view {
  position: absolute;
  top: 0;
  left: 65px;
  right: 0;
  bottom: 110px;
  -webkit-perspective: 400;
  perspective: 400;
}

.plane.main .circle {
  width: 80px;
  height: 80px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #ba60ff, inset 0 0 60px #b009e6;
}

.plane.main .circle::before, .plane.main .circle::after {
  border-radius: 100%;
  background: #d181f3;
  box-shadow: 0 0 60px 2px #9717e6;
}

.title {
  font-size: 90px;
  color: #ffffff;
}

p.slogan {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  font-family: inherit;
  letter-spacing: 2px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}
